<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/commands.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer ></script>
</head>
<body>
<h1>Visitor's terminal</h1>
<div class="terminal">
    <div id="output"></div>

    <div class="input-line">
        <span class="prompt-user">visitor@portfolio</span>
        <span class="prompt-path">:~$&nbsp;</span>
        <input type="text" id="commandInput" autofocus autocomplete="off">
    </div>
</div>

</body>
</html>
